__pycache__/
*.py[cod]
*.so
*.pyd
*.dll

*.egg-info/
dist/
build/
htmlcov/
.coverage*
*.whl

.pytest_cache/
.mypy_cache/
.ruff_cache/


.ipynb_checkpoints/


docs/_build/
swasd.*.rst
modules.rst

*.pkl
*.pck


.DS_Store
Thumbs.db
.idea/
.vscode/

.venv/
venv/
*-env/
